.card {
    height: 350px;  /* Adjust this value according to your requirements */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    max-height: 200px;  /* Adjust according to your need */
    width: 100%;
    object-fit: cover;
}


.card.new-pet-card {
    border: 2px dashed #888888;
}

.card-body {
    padding: 2rem;
}

.new-pet-title {
    color: #888888;
    margin-top: 1rem;
}