.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.border-top-gray {
    border-top-color: #adb5bd;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-condensed {
    line-height: 1.25;
}

.button {
    align-items: center;
    background-color: #574f36;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    margin-right: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    border: 1px solid lightgray;
}

#preview {
    border: 1px solid lightgray;
    display: inline-block;
    width: 500px;
    min-height: 400px;
    position: relative;
}

#preview span.text {

    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: lightgray;
}

#preview img.preview_img {
    width: 100%;
}